github aliyun/tea-swift ~> 1.0.2
github alibabacloud-sdk-swift/alibabacloud-gateway-spi ~> 0.0.1
github aliyun/credentials-swift ~> 1.0.1
github alibabacloud-sdk-swift/tea-utils ~> 1.0.6
github alibabacloud-sdk-swift/openapi-util ~> 1.0.1
github alibabacloud-sdk-swift/endpoint-util ~> 1.0.0
github darabonba/darabonba_EncodeUtil ~> 0.0.6
github darabonba/darabonba_SignatureUtil ~> 0.0.9
github darabonba/darabonba_String ~> 0.0.12
github darabonba/darabonba_Map ~> 0.0.5
github darabonba/darabonba_Array ~> 0.1.0
