**/libraries
**/.libraries.json
**/ts/node_modules
**/ts/dist
**/.DS_Store

.classpath
.settings/
.project

**/csharp/**/bin/
**/csharp/**/obj/
**/csharp/**/.vs/

**/.idea/
**/target/
**/*.iml
**/*.sh

.claude/
.cursor/
.qoder/
.idea/
.vscode/
.agents/
.DS_Store
.venv/